monolog:
    channels:
        - app
    handlers:
        main:
            type: stream
            path: "%kernel.project_dir%/public/storage/log/%kernel.environment%.log"
            level: debug
            channels: ["!event"]
        console:
            type: console
            process_psr_3_messages: false
            channels: ["!event", "!doctrine"]
